<!doctype html>
<html lang="en">
  <head>
  	<title>User</title>
    <link rel="icon" href="images/user.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cursos</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="Cursos/javascript.html">JavaScript</a>
                </li>
                <li>
                  <a href="Cursos/java.html">Java</a>
                </li>
                <li>
                  <a href="Cursos/c++.html">C++</a>
                </li>
	            </ul>
	          </li>
	          <li>
	              <a href="../index.html#equipo">About</a>
	          </li>
            <!--
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clases</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Clase 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
              </ul>
	          </li>
            -->
	          <li>
              <a href="../index.html#trabajo">Portfolio</a>
	          </li>
	          <li>
              <a href="../index.html#contacto">Contact</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://github.com/AngelArgumedo" target="_blank">Angenium</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#equipo">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#trabajo">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#contacto">Contact</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Cursos</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <h2 class="mb-4">Empecemos</h2>
        <p>
          Porque aprender programar? <br>
          <br>
          A lo largo de la civilización, los seres humanos se han encargado de crear herramientas para hacer la vida más sencilla. Básicamente ese es el principio de la programación para el desarrollo de sitios web, aplicaciones, software y programas que tienen éxito. No es por casualidad, es porque satisfacen una necesidad común y latente. <br>
          
          Una persona que sepa programar tiene las puertas abiertas para conseguir un mejor empleo, alcanzar nuevas áreas laborales y también podrá tener una mejor noción de cómo funcionan las cosas a su alrededor. <br>
          
          Por eso siempre es de utilidad conseguir plataformas que brindan instrucciones sobre este tipo de tecnologías y las abordan de una manera amigable, para que cada día se sumen más personas que se animen a escoger un curso de programación y conocer de primera mano, el universo de posibilidades que se puede conocer. <br>
        </p>
      </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>